 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

#wrapper {
    background-color: #fff;
    border-radius: 5px;
    padding: 3rem;
    width: 50%;
    height: fit-content;
    box-shadow: 5px 10px 10px;    
}

#leaderboard {
    margin: 1.3rem 0;
    font-size: 1.3rem;
    list-style: none;
}

#currentTime {
    margin-bottom: .3rem;
    font-size: 1.2rem;
}

#questionsDiv {
    font-size: 1.3rem;
    font-style: italic;
}

#createInputEl {
    height: 30px;
    font-size: 1.3rem;
    width: 150px;
    border-radius: 5px;
}

li {
    margin: .3rem;
    padding: .3rem;
    background-color: hsl(200, 100%, 50%);
    border-radius: 5px;
    border: 1.5px solid #333;
    list-style: none;
    cursor: pointer;
    font-size: 1rem;
    font-style: normal;
}

li:hover {
    background-color: #333;
    color: #fff
}

li:first-child {
    margin-top: 1.3rem;
}

li:last-child {
    margin-bottom: 1.3rem;
}

h1 {
    padding: 10px;
}

p {
    margin: 10px;
}

button {
    font-size: 1rem; 
    border: 1.5px solid #333;
    border-radius: 5px;
    padding: 5px;
    margin: .2rem;
    outline: none;  
    background-color: hsl(200, 100%, 50%);
    color: white;
}

button:hover {
    color: #fff;
    background-color: #333;
    border-color: black;
}
